footer.ab-page--footer
	.ab-page--footer__content
		.ab-container
			ul.ab-footer--list
				li: a(href="https://themeforest.net/" target="_blank") Themeforest Profile
				li: a(href="/index.html") Pixel Blog
				li &copy; copyrights 2018