header.page-header.flex.flex-center
	.page-container.flex.flex-space--between.flex-align--center
		.page-header--logo codepix
		nav.page-header--nav
			ul.page-header--nav__list.flex.flex-align--center
				li: a(href="index.html") Home
				li: a(href="about.html") About Us
				li: a(href="templates.html") Templates
				li: a(href="socials.html") Socials
				li: a(href="contacts.html") Contact