header.ab-page--header
	.ab-container
		a(href="/index.html").ab-page--header__logo Pixel Blog
		.ab-page--header__social
			ul.ab-social--list
				li: a(href="https://www.instagram.com/codepix.wayx/" target="_blank"): i.fa.fa-instagram
				li: a(href="https://twitter.com/yamofighter" target="_blank"): i.fa.fa-twitter
				li: a(href="https://soundcloud.com/1raxyzepq2zg" target="_blank"): i.fa.fa-soundcloud
				li: a(href="https://www.linkedin.com/in/vladislav-godunov-44bb02145/" target="_blank"): i.fa.fa-linkedin
				li: a(href="#"): i.fa.fa-github
		p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione praesentium sed hic obcaecati minus reprehenderit quibusdam eveniet.

