article.ab-single
	.ab-container
		.ab-single--thumbnail(style="background-image: url(https://images.unsplash.com/photo-1507679799987-c73779587ccf?auto=format&fit=crop&w=1051&q=80)")
		h2.ab-single--title Do What is Great
		.ab-single--meta
			span.ab-article--date SEP 19 2017
			span.ab-article--author admin
		.ab-single--text
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed aut praesentium laudantium. Ad ab quis, eveniet rerum placeat laudantium iure! Soluta rerum deleniti dolor? Mollitia aperiam id, quis maxime!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed aut praesentium laudantium. Ad ab quis, <a href="#">eveniet rerum placeat</a> laudantium iure! Soluta rerum deleniti dolor? Mollitia aperiam id, quis maxime!
			p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed aut praesentium laudantium. Ad ab quis, eveniet rerum placeat laudantium iure! Soluta rerum deleniti dolor? Mollitia aperiam id, quis maxime!