.page-holder.templates.flex.flex-space--between
	{% for post in site.categories[page.category] limit: 8 %}
	article.templates-item.flex.flex-center(style="background-image: url(assets/img/gallery_images/{{post.thumbnail}})")
		.page-container
			h2.templates-item--title: a(href="{{post.url}}") {{post.title}}
			p.templates-item--excerpt {{post.excerpt}}
			a(href="http://{{post.url}}").templates-item--cta.page-cta Preview
			a(href="http://{{post.downloadlink}}").templates-item--cta.page-cta.colored {{post.buttontext}}
	{%  endfor  %}
