
<header class="ab-page--header">
  <div class="ab-container"><a href="/index.html" class="ab-page--header__logo">Pixel Blog</a>
    <div class="ab-page--header__social">
      <ul class="ab-social--list">
        <li><a href="https://www.instagram.com/codepix.wayx/" target="_blank"><i class="fa fa-instagram"></i></a></li>
        <li><a href="https://twitter.com/yamofighter" target="_blank"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://soundcloud.com/1raxyzepq2zg" target="_blank"><i class="fa fa-soundcloud"></i></a></li>
        <li><a href="https://www.linkedin.com/in/vladislav-godunov-44bb02145/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
        <li><a href="#"><i class="fa fa-github"></i></a></li>
      </ul>
    </div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ratione praesentium sed hic obcaecati minus reprehenderit quibusdam eveniet.</p>
  </div>
</header>