
<header class="page-header flex flex-center">
  <div class="page-container flex flex-space--between flex-align--center">
    <div class="page-header--logo">codepix</div>
    <nav class="page-header--nav">
      <ul class="page-header--nav__list flex flex-align--center">
        <li><a href="index.html">Home</a></li>
        <li><a href="about.html">About Us</a></li>
        <li><a href="templates.html">Templates</a></li>
        <li><a href="socials.html">Socials</a></li>
        <li><a href="contacts.html">Contact</a></li>
      </ul>
    </nav>
  </div>
</header>