
<article class="ab-single">
  <div class="ab-container">
    <div style="background-image: url(https://images.unsplash.com/photo-1507679799987-c73779587ccf?auto=format&amp;fit=crop&amp;w=1051&amp;q=80)" class="ab-single--thumbnail"></div>
    <h2 class="ab-single--title">Do What is Great</h2>
    <div class="ab-single--meta"><span class="ab-article--date">SEP 19 2017</span><span class="ab-article--author">admin</span></div>
    <div class="ab-single--text">
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed aut praesentium laudantium. Ad ab quis, eveniet rerum placeat laudantium iure! Soluta rerum deleniti dolor? Mollitia aperiam id, quis maxime!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed aut praesentium laudantium. Ad ab quis, <a href="#">eveniet rerum placeat</a> laudantium iure! Soluta rerum deleniti dolor? Mollitia aperiam id, quis maxime!</p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit sed aut praesentium laudantium. Ad ab quis, eveniet rerum placeat laudantium iure! Soluta rerum deleniti dolor? Mollitia aperiam id, quis maxime!</p>
    </div>
  </div>
</article>