<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="description" content="{{ page.excerpt }}">
  <title>{{ page.title }}</title>
  <link rel="shortcut icon" type="image/png" href="/assets/img/favicon.png">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/assets/css/0-tools/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body class="ab-single--wrapper">
{% include loader.html %}

{% include header.html %}
<div class="page-holder">
  <article class="templates-single">
    <div class="page-container">
      <div style="background-image: url(/assets/img/template_images/{{page.thumbnail}})" class="templates-single--thumbnail"></div>
      <h2 class="templates-single--title">{{page.title}}</h2>
      <div class="templates-single--meta">
        <span class="templates-single--date">{{page.date | date: "%b %d %Y"}}</span>
        <span class="templates-single--author">{{page.author}}</span>
      </div>
      <div class="templates-single--text">
        {{ content }}
      </div>
    </div>
  </article>
</div>

<script src="/assets/js/jquery-1.12.0.min.js"></script>
<script src="/assets/js/app.js"></script>
</body>
</html>
